.backgroundImage {
    background-image: url('../assets/coming_soon_2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-color: #000C24;
  }

#brand-name{
    color: var(--brand-primary);
    font-size: 1.5em;
}